.cart-preview {
	position: fixed;
	top: 10vh;
	right: 0;
	max-height: 90vh;
	background: white;
	padding: 1rem;
	overflow-y: auto;
	max-width: 400px;
	width: 80%;
}

.cart-preview-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
}

.cart-items {
	padding: 1rem 0;
	overflow-y: auto;
	max-height: 60vh;
}

.cart-item {
	display: flex;
	gap: 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid #eee;
}

.cart-item img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 4px;
}

.cart-item-details {
	flex: 1;
	text-align: left;
}

.cart-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remove-item-btn,
.close-btn {
	background: none;
	color: #2c3e50;
	font-size: 1.5rem;
	padding: 0.2rem 0.5rem;
	transition: color 0.2s;
	width: unset;
}

.remove-item-btn {
	font-size: 1.3rem;
}

.remove-item-btn:hover,
.close-btn:hover {
	color: #34495e;
	background: none;
}

.cart-preview-footer {
	padding-top: 1rem;
}

.cart-total {
	margin: 1rem 0 1.5rem 0;
}

.empty-cart {
	padding: 2rem;
	text-align: center;
	color: #666;
}

.empty-cart h4 {
	margin-bottom: 0.5rem;
}

.empty-cart p {
	color: #888;
}

/* FOR CHECKOUT */
.error-message {
	color: #dc3545;
	margin: 1rem 0;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
}
